@font-face{
	font-family:"Quicksand_Book";
	src:url("/font/Quicksand_Book.otf");
}



html{
	background-image:url("/img/fond_site.jpg");
	background-attachment:fixed;
	background-position: top center;
}

body
{
    width: 70%;
	margin-left:15%;
	margin-right:15%;
    background-color: #1f203c;
}